{%extends "mejorado/base.html" %}
{% block contenido %}
<div class="container">
    <div class="row">

        <div class="col-lg-8">
            {% if posts %}
                <!-- Featured blog post-->
                <div class="card mb-4">
                    {% if carro.0 %}
                    <a href="#!"><img class="card-img-top" src="{{carro.0.imagen.url}}" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{carro.0.publicado_el}}</div>
                        <h2 class="card-title">{{carro.0.Marca_del_Carro}}</h2>
                        <p class="card-text">{{carro.0.Modelo_del_Carro}}</p>
                        <a class="btn btn-primary" href="{% url 'detalle' carro.0.id %}">Leer Mas →</a>
                    </div>
                    {% endif %}
                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if carrox.1 %}
                            <a href="#!"><img class="card-img-top" src="{{carrox.1.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{carrox.1.publicado_el}}</div>
                                <h2 class="card-title">{{carrox.1.Marca_del_Carro}}</h2>
                                <p class="card-text">{{carrox.1.Modelo_del_Carro}}</p>
                                <a class="btn btn-primary" href="{% url 'detalle' carrox.1.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if carro.2 %}
                            <a href="#!"><img class="card-img-top" src="{{carro.2.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{carro.2.publicado_el}}</div>
                                <h2 class="card-title">{{carro.2.Marca_del_Carro}}</h2>
                                <p class="card-text">{{carro.2.Modelo_del_Carro}}</p>
                                <a class="btn btn-primary" href="{% url 'detalle' carro.2.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if carro.3 %}
                            <a href="#!"><img class="card-img-top" src="{{carro.3.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{carro.3.publicado_el}}</div>
                                <h2 class="card-title">{{carro.3.Marca_del_Carro}}</h2>
                                <p class="card-text">{{carro.3.Modelo_del_Carro}}</p>
                                <a class="btn btn-primary" href="{% url 'detalle' carro.3.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if carro.4 %}
                            <a href="#!"><img class="card-img-top" src="{{carro.4.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{carro.4.publicado_el}}</div>
                                <h2 class="card-title">{{carro.4.Marca_del_Carro}}</h2>
                                <p class="card-text">{{carro.4.Modelo_del_Carro}}</p>
                                <a class="btn btn-primary" href="{% url 'detalle' carro.4.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card mb-4">
                            {% if carro.5 %}
                            <a href="#!"><img class="card-img-top" src="{{carro.5.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{carro.5.publicado_el}}</div>
                                <h2 class="card-title">{{carro.5.Marca_del_Carro}}</h2>
                                <p class="card-text">{{carro.5.Modelo_del_Carro}}</p>
                                <a class="btn btn-primary" href="{% url 'detalle' carro.4.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <h1>No hay posts</h1>
            {% endif %}
            </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}